@model BattlestationHub.Models.Setup
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> _userManager

@{
    ViewData["Title"] = "Details";
}


<div class="details-img-holder">
    <img src="@(Model.ImgPath)" alt="Card image cap">
    <div class="details-actions">
        @{
            var user = await _userManager.FindByIdAsync(Model.UserId);

            if (user?.Id == Model.UserId)
            {
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-info">Edit</a>
                <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">Delete</a>
            }
            else
            {
                if ((bool)ViewData["IsSetupSaved"])
                {
                    <a asp-action="UnsaveSetup" asp-route-id="@Model.Id"><i class="bi bi-heart-fill"></i></a>
                }
                else
                {
                    <a asp-action="SaveSetup" asp-route-id="@Model.Id">
                        <i class="bi bi-heart"></i>
                    </a>
                }
            }
        }

        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
    <hr />
</div>

<div class="details-holder">
    <h1>@Html.DisplayFor(model => model.SetupName)</h1>
    @{
        if (user != null)
        {
            <h3><span>Uploaded by: </span> <a asp-action="Profile" asp-route-userId="@user.Id">@user.DisplayName</a></h3>
        }
        else
        {
            <h3>User not found</h3>
        }
    }

    <div class="description-box">
        <h3>Description: </h3>
        <p>@Html.DisplayFor(model => model.SetupDesc)</p>
    </div>
    
</div>

