@model BattlestationHub.Models.Setup
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> _userManager



@{
    ViewData["Title"] = "Details";
}


<h1>@Html.DisplayFor(model => model.SetupName)</h1>

<div>
    @* <h4>Setup</h4> *@
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Uploaded By:
        </dt>
        <dd class="col-sm-10">
            @* @Html.DisplayFor(model => model.UserId) *@

            @{
                var user = await _userManager.FindByIdAsync(Model.UserId);
                if (user != null)
                {
                    <span>@user.DisplayName</span>
                }
                else
                {
                    <span>User not found</span>
                }
            }
        </dd>
        <dt class = "col-sm-2">
            Description:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SetupDesc)
        </dd>
    </dl>
</div>
<div>

    <div>
        @{
            if (user?.Id == Model.UserId)
            {
                <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
            }
            else
            {
                if ((bool)ViewData["IsSetupSaved"])
                {
                    <a asp-action="UnsaveSetup" asp-route-id="@Model.Id">Unsave</a>
                }
                else
                {
                    <a asp-action="SaveSetup" asp-route-id="@Model.Id">Save</a>
                }
            }
        }

        <a asp-action="Index">Back to List</a>

     
    </div>
</div>
