@model IEnumerable<BattlestationHub.Models.Setup>

@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> _userManager


@{
    ViewData["Title"] = "Index";
}

<div class="setups-index-holder">
    <h1>Setups</h1>


    <a asp-action="Create" class="btn btn-primary" id="setups-index-btn">Share your Battlestation</a>

    <div class="setups-holder">

        @foreach (var item in Model)
        {
            <div class="card-holder">
                <img src="@(item.ImgPath)" alt="Card image cap">
                <h3 class="card-title">@Html.DisplayFor(modelItem => item.SetupName)</h3>
                @{
                    var user = await _userManager.FindByIdAsync(item.UserId);
                    if (user != null)
                    {
                        <h5><span>Uploader: </span> <a asp-action="Profile" asp-route-userId="@user.Id">@user.DisplayName</a> </h5>
                    }
                    else
                    {
                        <h5>User not found</h5>

                    }
                }

                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </div>
        }
    </div>

</div>

